# ffmpeg と faster-whisper.exe のパス
FFMPEG_PATH=C:\Users\makun\Faster-Whisper-XXL\ffmpeg.exe
WHISPER_PATH=C:\Users\makun\Faster-Whisper-XXL\faster-whisper.exe

# 作業ディレクトリ
TMP_DIR=D:\Document\Program\movie2text\tmp
OUT_DIR=D:\Document\Program\movie2text\out
